I am skipping Problem 3 for now as I want to take my time with the write up. In general I am going to try to make these post more verbose otherwise they aren't very useful to anyone, myself included.

That being said let's take a look at Problem 4;
<div class="problem_content">
<blockquote>
A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 x 99.
Find the largest palindrome made from the product of two 3-digit numbers.</blockquote>

First thing we want to do is generate all the products of two 3-digit numbers. That can done with a fairly simple loop where we multiple ever possible number from 100 x 100 to 999 x 999. I'm starting at 999 because I think there may be a way to optimize the generation loop by only looking at the largest, more on this later. So the way this loop works is, starting both factors, i and j, at 999, count down i and then when it drops below 100, reset it 999 and decrement the other factor, j. So the iterations would go, 999 x 999, 998 x 999, 997 x 999 .... 100 x 999, 999 x 998, etc.

Here is the main loop in Python;
<pre class="prettyprint lang-python">&nbsp;&nbsp;&nbsp; i = 999
&nbsp;&nbsp;&nbsp; j = 999
&nbsp;&nbsp;&nbsp; pal = 0
&nbsp;&nbsp;&nbsp; 
&nbsp;&nbsp;&nbsp; while j &gt; 99:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; result = i * j
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if palindrome(result):
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if result &gt; pal:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; pal = result
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i -= 1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if i &lt; 100:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i = 999
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; j -= 1
&nbsp;&nbsp;&nbsp; print pal</pre>

In each each iteration we check to see if the product is a palindrome and if it is we check to see if it is larger then the previous palindrome. This means that by the time our loop ends we have the largest possible palindrome. 

Determining if the product is a palindrome is easily expressed in Python;
<pre class="prettyprint lang-python">def palindrome(n):
&nbsp;&nbsp;&nbsp; nString = str(n)
&nbsp;&nbsp;&nbsp; if nString == nString[::-1]:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return True
&nbsp;&nbsp;&nbsp; return False</pre>
First thing we do is convert the product n into a string. Once we have that it is easy to reverse the string by using the Python slice(?) operation. The syntax for slice is, start position:end position:value of each step, so what
<pre class="prettyprint lang-python">[::-1]</pre>
translates to is, starting at the beginning and ending at the end, go through the string backwards (-1). Once you have the reverse string, you can compare it to the original string and determine if it is a palindrome.

Here is the code in its entirety;
<pre class="prettyprint lang-python">def palindrome(n):
&nbsp;&nbsp;&nbsp; nString = str(n)
&nbsp;&nbsp;&nbsp; if nString == nString[::-1]:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return True
&nbsp;&nbsp;&nbsp; return False

if __name__ == '__main__':
&nbsp;&nbsp;&nbsp; i = 999
&nbsp;&nbsp;&nbsp; j = 999
&nbsp;&nbsp;&nbsp; pal = 0
&nbsp;&nbsp;&nbsp; 
&nbsp;&nbsp;&nbsp; while j &gt; 99:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; result = i * j
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if palindrome(result):
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if result &gt; pal:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; pal = result
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i -= 1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if i &lt; 100:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i = 999
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; j -= 1
&nbsp;&nbsp;&nbsp; print pal&nbsp;</pre>

There are ways to improve on this implementation. As I mentioned before, there is probably a way to check to make sure that you are only doing the largest possible factors first, say 900 x 900 to 999 x 999, by structuring the while loop so it goes through all factors in each hundreds place. The palindrome could also be implemented in a way that doesn't use string conversion. That being said, this program runs in about a second and works, so any additional optimization is really not needed in this case. However if you were going to test for the largest palindrome product of two 4-digit numbers, this implementation is slow, taking about 110.63 seconds. The official Project Euler answer has an more optimal solution, but since I looked at it I am not going to post the solution here as my own.</div>
