Problem 10 is fairly interesting.
<blockquote>
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.
Find the sum of all the primes below two million.</blockquote>

The solution is a lot easier if you are familiar with the Sieve of Eratosthenes. Wikipedia has a fairly good <a href="http://en.wikipedia.org/wiki/Sieve_of_Eratosthenes">article on the Sieve</a>, in which they sum up the steps as follows;
<blockquote>
<ol>
<li>Create a list of consecutive integers from two to <i>n</i>: (2, 3, 4, ..., <i>n</i>),</li>
<li>Initially, let <i>p</i> equal 2, the first prime number,</li>
<li>While enumerating all multiples of <i>p</i> starting from <i>p</i><sup>2</sup>, strike them off from the original list,</li>
<li>Find the first number remaining on the list after <i>p</i> (it's the next prime); let <i>p</i> equal this number,</li>
<li>Repeat steps 3 and 4 until <i>p</i><sup>2</sup> is greater than <i>n</i>.</li>
<li>All the remaining numbers in the list are prime.</li>
</ol>
</blockquote>

Seems easy enough, here is an fairly direct translation in Python;
<pre class="prettyprint lang-python">start = 2
numbers = range(start, n + 1)

for i in numbers:
    multiple = i
    while i * multiple &lt;= n:
        try:
            numbers.remove(i * multiple)
        except ValueError:
            pass
        multiple += 1
        
return numbers</pre>

Python's ability to remove items from a List seems to be lacking here; at the very least the code is a little more terse then usual. The remove operation raises an error is the element is not present, so telling it to pass will simply ignore the resulting error. I am sure there is a terser way to represent the Sieve in Python, but the code above emphasizes readable and is comparable to pseudo code, except for the error handling.

The problem with the previous implementation is that it is slow. with a N of 10000 taking about a second, a N of 100000 taking ~101 seconds, and a N of 1000000 uncomfortably heating up my laptop, though it should clock in at about an hour.

Excuse my sloppy Big <span class="texhtml"><i>O</i></span> notation, but according to Wikipedia, the complexity of the Sieve is <span class="texhtml"><i>O</i>(<i>n</i>(log<i>n</i>)(loglog<i>n</i>)).&nbsp;</span>

<span class="texhtml">The red flag here is the remove call. While I'm not sure how Python implements List.remove, according to the documentation it removes the first instance of the element it is searching for. So the method needs to iterate the list until it finds the element, and then readjust the remainder of the List, which is a costly operation, especially inside a for and while loop. <strike>I believe this would add another n to the complexity, </strike></span><span class="texhtml"><strike><i>O</i>(<i>n^2</i>(log<i>n</i>)(loglog<i>n</i>)).</strike> (<i>Edit: please disregard my sloppy </i></span><i><span class="texhtml">Big </span><span class="texhtml">O</span> notation here, without knowing the implementation details behind the Python List remove operation I can only hazard a guess. We know that the remove operation stops at the first instance of the char, but then the List must be have an element removed, which can vary in cost depending on the data structure used. Analysis of this operation requires Python guru skills that I currently lack.</i>)<span class="texhtml">&nbsp; I am really out of practice with Big </span><span class="texhtml"><i>O</i></span> notation, so please correct me if I am wrong here. 

<span class="texhtml">It took me awhile to figure out how to get the run time of the sieve down, I eventually went online to try to find a hint of how to improve performance. <a href="http://stackoverflow.com/questions/1287607/help-speed-up-this-algorithm-sieve-of-eratosthenes/1287626#1287626">Someone on the internet</a> recommended replacing the composite numbers with zeros. It is painfully obvious once you see it; get rid of the remove operation altogether. Instead of removing the non-prime (composite) elements, replace them with a placeholder value.</span>

<span class="texhtml">Here is the improved implementation;</span>
<pre class="prettyprint lang-python"><span class="texhtml">start = 2
numbers = range(start, n + 1)
placeholder = 0

#set composite numbers as a placeholder value
for i in range(len(numbers)):
    cur = numbers[i]
    if cur != placeholder:
        multiple = cur
        while cur*multiple &lt;= n:
            listPos = (cur*multiple) - start
            numbers[listPos] = placeholder
            multiple += 1

#make a list of primes
primes = []
for i in numbers:
    if i != placeholder:
        primes.append(i)

return primes</span></pre>

This new implementation can handle the two million that we were looking for in problem in about 2 seconds. All that is left is to sum the primes. Here is the complete code;
<pre class="prettyprint lang-python">def sieve(n):
&nbsp;&nbsp;&nbsp; start = 2
&nbsp;&nbsp;&nbsp; numbers = range(start, n + 1)
&nbsp;&nbsp;&nbsp; placeholder = 0
&nbsp;&nbsp;&nbsp; 
&nbsp;&nbsp;&nbsp; #set composite numbers as a placeholder value
&nbsp;&nbsp;&nbsp; for i in range(len(numbers)):
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; cur = numbers[i]
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if cur != placeholder:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; multiple = cur
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; while cur*multiple &lt;= n:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; listPos = (cur*multiple) - start
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; numbers[listPos] = placeholder
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; multiple += 1
&nbsp;&nbsp;&nbsp; 
&nbsp;&nbsp;&nbsp; #make a list of primes
&nbsp;&nbsp;&nbsp; primes = []
&nbsp;&nbsp;&nbsp; for i in numbers:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if i != placeholder:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; primes.append(i)
&nbsp;&nbsp;&nbsp; 
&nbsp;&nbsp;&nbsp; return primes

if __name__ == '__main__':
&nbsp;&nbsp;&nbsp; primes = sieve(2000000)
&nbsp;&nbsp;&nbsp; sum = 0
&nbsp;&nbsp;&nbsp; for i in primes:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sum += i
&nbsp;&nbsp;&nbsp; print sum
</pre>
