Another really simple one.
<blockquote>
2^(15) = 32768 and the sum of its digits is 3 + 2 + 7 + 6 + 8 = 26.

What is the sum of the digits of the number 2^(1000)?</blockquote>

Actually this is the simplest problem so far. A simple conversion to a String and an iteration is all that is needed.
<pre class="prettyprint lang-python">numberString = str(2**1000)
sum = 0
for number in numberString:
&nbsp;&nbsp;&nbsp; sum += int(number)
print sum
</pre>